*{
    margin: 0;
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    height: 56vw;
    background-color: none;
}

#parallaxAbout{
    height: 55.3vw;
}

#parallaxContact{
    height: 55.3vw;
}
.parallax img{
    position: absolute;
    width: 100%;
}

.text{
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#textAbout{
    font-size: 12vw;
    padding-top: 20vw;
}

#textIndex{
    font-size: 8vw;
    padding-top: 21vw;
}

#textContact{
    font-size: 11vw;
    padding-top: 18vw;
}

.AfterParallax{
    position: relative;
    height: auto;
    width: 100%;
}

#AfterParallaxIndex{
    background-color: #003329;
}

#AfterParallaxAbout{
    background-color: black;
}

#AfterParallaxContact{
    background-color: #363F56;
}

.navi{
    width: 100%;
    height: 50px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
}

#naviIndex{
    background-color: #003329;
}

#naviAbout{
    background-color: black;
}

#naviContact{
    background-color: #363F56;
}

.navi a{
    color: white;
    text-decoration: none;
    font-size: x-large;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 0.7vw;
    transition-property: all;
    transition-duration: 0.4s;
}


.navi a:hover, .navi a.active{
    color: black;
    font-size: xx-large;
}

#naviIndex a:hover, #naviIndex a.active{
    background-color: rgb(50, 205, 55);
}

#naviAbout a:hover, #naviAbout a.active{
    background-color:white;
}

#naviContact a:hover, #naviContact a.active{
    background-color: #B9F2FA;
}

.paragraph{
    padding: 1vw;
    font-size: x-large;
    color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    word-spacing: 0.3vw;
    line-height: 4.5vh;
}

.Heading{
    margin-left: 3vw;
    color: white;
    font-size: xx-large;
}

